<div class="py-4 px-4">

    <a href="#" class="block max-w-md p-6 bg-white border border-gray-300 rounded-lg shadow-md hover:bg-gray-200 transition duration-300 ease-in-out dark:bg-gray-800 dark:border-gray-600 dark:hover:bg-gray-700">

        <h5 class="mb-3 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Rebooting Tailwind</h5>
        <p class="mb-4 text-base font-normal text-gray-700 dark:text-gray-400">This session is used to practice Tailwind with Angular.</p>
        <ol class="list-disc pl-5 text-gray-700 dark:text-gray-400">
            <li>It is just an attempt to make the leisure time a little bit productive</li>
        </ol>

    </a>

</div>
