<a href="#" class="mt-2 block w-full p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800/70 dark:border-gray-700/70 dark:hover:bg-gray-700/70">
    <div class="flex flex-wrap gap-2 sm:gap-px">
        <div class="flex flex-col items-center w-full sm:w-auto">
            <!-- Tooltip element -->
            <div id="tooltip-jese" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Node.js
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <!-- Image with .img class -->
            <div class="img">
            </div>
            <p class="mt-2 text-sm text-white sm:text-base">Node.js</p>
        </div>
        <div class="flex flex-col items-center w-full sm:w-auto mt-4 sm:mt-0">
            <!-- Tooltip element -->
            <div id="tooltip-jese" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Angular.js
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <!-- Image with .img2 class -->
            <div class="img2">
            </div>
            <p class="mt-2 text-sm text-white sm:text-base">Angular</p>
        </div>
        <div class="flex flex-col items-center w-full sm:w-auto mt-4 sm:mt-0">
            <!-- Tooltip element -->
            <div id="tooltip-jese" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Postgres
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <!-- Image with .img3 class -->
            <div class="img3">
            </div>
            <p class="mt-2 text-sm text-white sm:text-base">PostgreSQL</p>
        </div>

    </div>
</a>
